:root{
font-size: 10px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fff;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 93.5rem;
    margin:0 auto;
    padding:0 2rem;
}

.btn{
    all: unset;
    background: none;
    color:none;
    display: inline-block;
    cursor: pointer;
    border: none;
}

.btn:focus{
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    widows: 1px;
    overflow: hidden;
    clip: react( 1px, 1px, 1px, 1px);
}

/*profile section */

.profile{
    padding: 5rem 0;
}

.profile::after{
    content: "";
    display: block;
    clear: both;

}

.profile-image{
    float: left;
    width: calc(33.333%-1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img{
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio{
    float: left;
    width: calc(66.666%-2rem);
}

.profile-user-settings{
    margin-top: 1.1rem;
}

.profile-user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}
.profile-edit-btn{
    font-size: 5rem;
    line-height: 1.8;
    border: 0.1rem solid #fff
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
    
}

.profile-settings-btn{
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats{
    margin-top: 2.3rem;
}

.profile-stats li{
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor:pointer;
}

.profile-stats li:last-of-type{
    margin-right: 0;
}

.profile-bio{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-esit-btn{
    font-weight: 800;
}

/*body {
  background-color: #efefef;*/
}

.profile-pic {
    max-width: 200px;
    max-height: 0px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 126px;
    height: 126px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 72px;
}

.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}

/* The following code will only run if your browser supports css grid */
@supports(display:grid){
    .profile{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }
    
    .profile-image{
        grid-row: 1 / -1;
    }
    
    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .profile-item,
    .gallery {
        width:auto;
        margin:0;
    }
    
    
}